// Header Section


$fadeTextColor: #53524f;

$textColor: #1A1A1A;

$redColor: #E21B22;

$whiteColor: #FFFFFF;

*{
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.headerTop{
    margin-top: 10px;
    width:100%;
    display:flex;
    justify-content:space-between;
    // border: 1px solid blue;
    border-bottom: 1px solid rgb(161, 159, 159);
}
.headerTopLeft{
    display:flex;
    width: 50%;
    // border: 1px solid blue;
    justify-content:space-around;
}
.headerTopLeftOne{
    width:30%;
    display:flex;
    justify-content:space-around;
}
.headerTopLeftThree{
    width:30%;
    display:flex;
    justify-content:space-around;
}
.headerTopRight{
    width:50%;
    display:flex;
    justify-content:flex-end;


    &>button{
        width:142px;
        height: 25px;
        background-color:$redColor;
        border-radius:5px;
        border: none;
        color: white;
        font-weight: 500;
    }
    &>div{
        border:1px solid $fadeTextColor;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 50%;
        color: $fadeTextColor;
    }
    &>div,p{
        margin: 5px;

    }
}
.headerLogo{
    display:flex;
    justify-content: center;
    border-bottom: 1px solid rgb(161, 159, 159);
    object-fit: contain;
    & > img{
        width:100%;
        
    }
}
.headerBottom{
    
}
.headerBottomContainer{
    display:flex;
    justify-content:space-around;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(73, 73, 73);
    &>a{
        color: $textColor;
        font-weight: 500;
        transition: .1s all ease-in-out;
        &:hover{
            color: $textColor;
            font-weight:600;
        }
    }
}

.headerBottomSecond{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size:13px;
    border-bottom: 1px solid rgb(161, 159, 159);
    &>p:nth-child(1){
        color: $redColor;
        font-weight:600;
    }
    &>p{
        margin-left: 15px;
        font-weight:500;
    }
}

// Section One
.sectionOneContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width:100%;
}
.sectionOneHeadlineLeft{
    margin-top: 10px;
    width:45%;
    // border: 1px solid green;
    border-right: 1px dotted $fadeTextColor;
    padding:1%;
    &>img{
        width:93%;
        margin-bottom: 15px;
        border-radius: 10px;
    }
}
.sectionOneHeadlineLeftContainer{
    display: grid;
    grid-gap: 1.5%;
    grid-template-columns: repeat(2,46%);
}
.sectionOneHeadlineLeftCard{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding:1.5%;
    &>img{
        border-radius: 5px;
        width:70px;
        height: 60px;
        object-fit: cover;
    }

    & > p{
        cursor: pointer;
        transition: .3s all ease-in-out;

        &:hover{
            font-weight:500;
        }
    }
}
.sectionOneHeadlineMiddle{
    width:20%;
    margin-top: 10px;
    // border: 1px solid rgb(24, 108, 235);
    border-right: 1px dotted gray;
    
}
.sectionOneHeadlineMiddleCard{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    // margin-bottom: 15px;
    padding:1%;
    width:80%;
    margin: 10px auto;
    & > p{
        cursor: pointer;
        transition: .3s all ease-in-out;

        &:hover{
            font-weight:500;
        }
    }
    & > img{
        width:205px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
}
.sectionOneHeadlineRight{
    width:35%;
    margin-top: 10px;
    
    padding: 1%;
}
.sectionOneHeadlineRightContainer{
    display: flex;
    flex-direction: column;

    & > p{
        border-bottom: 1px dotted gray;
        padding:10px 2px;
    }
}

.sectionOneTrending{
    display: flex;
    padding: 6% 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dotted gray;
    
    & > div{
        color: $redColor;
        font-weight:600;
    }

    &>p{
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding:5px;
        border-radius:5px;
    }
}

// Section Two

.sectionTwocontainer{
    margin-top: 2px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding: 30px;
}
.sectionTwoTop{
    display:flex;
    font-size:23px;
    font-weight:600;
    justify-content:center;
    align-items:center;
    &>p{
        margin-right: 15px;
    }
}
.sectionTwoBottom{
    display:flex;
    margin-top: 20px;
    justify-content: space-around;
}
.sectionTwoBottomCard{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3%;
    margin-right: 2px;
    border-radius: 10px;
    &>p{
        margin-bottom: 10px;
    }
    &>p:nth-child(1){
        font-size:23px;
        font-weight:600;
    }
    &>p:nth-child(2){
        color: $redColor;
        font-weight:600;
    }

    &>div{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        &>div{
            margin-right: 10px;
            height: 60px;
            width: 60px;
            background-color:$redColor;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 18px;
            font-weight:600;
        }

        &>p{
            font-weight: 500;
        }
    }
}

// Section Three

.sectionThreeContainer{
    display: flex;
    flex-direction: column;
    padding:3%;
    margin-top: 2px;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;

    &>div:nth-child(1){
        font-size:23px;
        font-weight:600;
    }
    &>div:nth-child(2){
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}


// Section Four

.sectionFourContainer{
    width:100%;
}
.sectionFourContainerUpper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5%;
    &>div:nth-child(1){
        display: flex;
        align-items: center;
        font-size:23px;
        font-weight:600;
        &>p{
            margin-right: 5px;
            
        }
    }
    &>div:nth-child(2){
        display: flex;
        align-items: center;
        font-weight: 500;

        &>p:nth-child(1){
            margin-right: 10px;
        }
    }
}

.sectionFourContainerLower{
    width: 100%;
    display:flex;
    justify-content: space-between;
    // align-items: center;
}

.sectionFourContainerLowerLeft{
    width: 33%;
    margin:auto;
    &>img{
        width: 96%;
        border-radius:15px;
    }
    &>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        &>div>p{
            font-weight: 500;
            margin-top: 10px;
        }
    }
}

.sectionFourContainerLowerMiddle{
    
    width: 31%;
    padding:1%;
    border-right: 1px dotted gray;
    &>div>p{
        padding: 3%;
        font-weight: 500;
    }
}

.sectionFourContainerLowerRight{
    width: 33%; 
    padding:2%;
    &>div:nth-child(1){
        display: flex;

        &>p{
            margin-right: 10px;
            font-weight: 600;
            font-size:18px;
        }
    }

    &>div:nth-child(2){
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
        margin-top: 25px;
    }
}

.sectionFourContainerLowerRightCard{
    margin-top: 15px;
    &>img{
        width:130px;
        border-radius: 10px;
    }
    &>p{
        margin-top: 10px;
    }
}
.sectionFourContainerSecond{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4% 0 4% 0;
    border-bottom: 1px dotted gray;
    &>div:nth-child(1){
        display: flex;
        align-items: center;

        &>p{
            font-size:23px;
            font-weight: 600;
            margin-right: 10px;
        }
    }
    &>div:nth-child(2){
        display: flex;
        justify-content: space-between;
    }
}
.sectionFourContainerSecondCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width:33%;
    // border: 1px solid red;
    &>img{
        width:100px;
        border-radius:5px ;
    }

    &>div{
        padding:4%;

        &>p:nth-child(1){
            font-size:18px;
            font-weight: 800;
        }
        &>p:nth-child(2){
            margin-top: 15px;
            font-weight: 500;
        }

        &>div{
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;

            &>p:nth-child(1){
                margin-right: 10px;
                
                font-weight: 600;
                
            }

            &>p:nth-child(2){
                font-weight:600;
                height: 25px;
                width: 13%;
                background-color: $redColor;
                border-radius:10px;
                color: #fff;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

.sectionFourContainerThird{
    padding:2%;
    margin-top: 2px;
    border-top: 1px dotted gray;
    &>div:nth-child(1)>div:nth-child(1){
        display: flex;

        font-size:23px;
        font-weight:600;

        &>p{
            margin-right: 15px;
        }
    }
    &>div:nth-child(1)>div:nth-child(2){
        display: flex;
        margin-top: 20px;
        justify-content: flex-start;

        &>p{
            margin-right: 10px;
        }
        &>p:nth-child(1){
            color: $redColor;
            font-weight:600;
        }
    }

    &>div:nth-child(2){
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        width:100%;
        &>iframe {
            width: 30%;
        }
    }
}